/*
* Start Mobile First
*
* Test out menu drawer functionality!
*
* Phone 480px
* Tablet 768px
* Desktop 1024px
*
*/



/* Make sure to add shortcuts to github! to */

/*----------*\
#SETUP
\*----------*/

  html {
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 1.4;
  }

  .container--limit-screen-width {
    width: 95%;
  }





/*----------*\
#COLORS-FONTS
\*----------*/

  .color__primary, {
    color: cadetblue;
  }

  .color__primary--bg {
    background-color: cadetblue;
    color: white;
  }

  .caps__upper {
    font-weight: bold;
    text-align: center;
  }



/*----------*\
#HEADER-SECTION
\*----------*/

  .header--float {
    position: fixed; /* float menu bar */
    z-index: 10;
  }

    .below-header {
      position: relative; /* everything else behind menu bar */
      padding-top: 3rem;
    }



  .header__logo {
    justify-content: flex-start;
    margin-left: 2rem;
  }

    .logo__img {
      height: 1.5rem;
    }



  .header__menu {
    justify-content: flex-end;
  }

    .menu__ul {
      justify-content: flex-end;
      margin-right: 1rem;
    }

    .menu__li {
      margin: 1rem 1rem;
    }







/*----------*\
#BANNER-HERO-SECTION
\*----------*/

  .banner__hero {
    background-image: url("../images/glasses-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
    height: 17rem;
  }

    .hero__title {
      margin-top: 9rem;
      padding: 1rem 0;
      background-color: white;
      text-align: center;
      width: 100%;
    }





/*----------*\
#FEATURES-SECTION
\*----------*/

  .section__features {
    margin: 3.77rem 0;
    flex-wrap: wrap;
  }

    .feature {
      flex-wrap: wrap;
      flex-direction: column;
    }

      .feature__img {
        width: 3.5rem;
        margin-bottom: 1rem;
      }

      .feature__text {
        margin-bottom: 1.54rem;
        width: 22%;
        text-align: center;
        font-size: 0.77rem;
      }


/*----------*\
#HIGHLIGHTS-SECTION
\*----------*/

  .highlights,
  .highlight {
    flex-direction: column;
  }

    .highlight__title {
      width: 100%;
      padding: 0.5rem 0;
    }

    .highlight__text {
      margin: 1rem 0 4rem 0;
      font-size: 0.77rem;
    }





/*----------*\
#FOOTER-SECTION
\*----------*/

  .copyright--bg {
    background-color: azure;
  }

    .copyright__logo {
      height: 1.5rem;
      padding: 4rem 0;
    }






/*----------*\
#RESPONSIVE-DESIGNS
\*----------*/

  @media only screen
    and (min-width: 470px) {
    /* Selectors for tablet screens and bigger */

    .container--limit-screen-width {
      width: 90%;
    }

    .logo__text {
      margin-left: 1rem;
    }

    .banner__hero {
      height: 22rem;
      justify-content: flex-end;
      background-position: center;
    }

      .hero__title {
        margin-top: 5rem;
        margin-right: 2rem;
        padding: 2rem 4rem;
        font-size: 1.33rem;
        width: auto;
      }



    .section__features {
      justify-content: center;
      flex-direction: row;
      justify-content: space-around;
      margin: 3rem 0;
    }

        .section__features .feature:first-child {
          margin-left: 5rem;
        }

        .section__features .feature:last-child {
          margin-right: 5rem;
        }

      .feature {
        height: 8rem;
        width: auto;
        flex-direction: column;
        justify-content: space-between;
      }

        .feature__img {
          margin-bottom: 0;
        }

        .feature__text {
          margin-bottom: 0;
          width: 80%;
        }

        .feature__text,
        .highlight__text {
          font-size: 1rem;
        }



    .highlights {
      flex-direction: row;
      align-items: flex-start;
    }

      .highlight {
        width: 35%;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
      }

        .highlight:first-child {
          margin-right: 3rem;
        }

        .highlight__title {
          width: 75%;
          text-align: left;
          padding-left: 1rem;
        }



    .copyright {
      justify-content: flex-start;
    }

      .copyright__logo {
        margin-right: 1rem;
        margin-left: 4rem;
      }

  }
