/*
* Start Mobile First
*
* Test out menu drawer functionality!
*
* Phone 480px
* Tablet 768px
* Desktop 1024px
*
*/



/* Make sure to add shortcuts to github! to */

/*----------*\
#SETUP
\*----------*/

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}





/*----------*\
#COLORS
\*----------*/

.color__primary, {
  color: cadetblue;
}

.color__primary--bg {
  background-color: cadetblue;
  color: white;
}





/*----------*\
#HEADER-SECTION
\*----------*/

  .header__logo {
    justify-content: flex-start;
    margin-left: 2rem;
  }

    .logo__img {
      height: 1.5rem;
    }



  .header__menu {
    justify-content: flex-end;
    margin: 1rem 2rem;
  }





/*----------*\
#HERO-BANNER-SECTION
\*----------*/

.hero-banner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  height: 17rem;
}

  .hero-banner__title {
    margin-top: 9rem;
    padding: 1rem 0;
    background-color: white;
    text-align: center;
    font-weight: bold;
  }
